<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.KebunJio"
        tools:targetApi="31">
        <service
            android:name=".service.mlModel.mlModelDiagnoseService"
            android:enabled="true"
            android:exported="true"></service>
        <service
            android:name=".service.mlModel.MlModelService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".service.DownloadImageService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".features.logactivities.LogActivitiesActivity"
            android:exported="false" />
        <activity
            android:name=".features.planthealthcheck.PlantHealthCheckActivity"
            android:exported="false" />
        <activity
            android:name=".features.viewplantdetails.ViewPlantDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".features.viewplantdetails.ChoosePlantToViewActivity"
            android:exported="false" />
        <activity
            android:name=".features.browseguides.BrowseGuidesActivity"
            android:exported="false" />

        <service
            android:name=".service.reminders.ReminderService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".features.addplant.AddPlantActivity"
            android:exported="false" />
        <activity android:name=".features.reminders.ReminderActivity"></activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.KebunJio">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>